* {
    color: #3b3b3b;
}
p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}
/*p { font-size: 16px; }*/
/*h1 { font-size: 28px; }*/
/*h2 { font-size: 24px; }*/
a {
    text-decoration: none !important;
}
hr {
    margin: 0;
    padding: 0;
}
:focus {
    outline: none;
}
.dropdown-toggle::after {
    border: none;
}
