<template>
  <div class="nav-bar">
    <b-navbar toggleable="md">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-navbar-brand to="#" left>
        <!--<img alt="Ohire logo" src="./../assets/images/Logo.png" class="d-inline-block align-top">-->
      </b-navbar-brand>
      <template class="d-none">
        <b-navbar-nav right>
          <b-nav-item-dropdown>
            <template slot="button-content">
              <span class="userName">HappyList</span>
              <!--<img v-if="userInfo.profilePicture" :src="userInfo.profilePicture" md="0" alt="user image" class="float-right profilePicture">-->
            </template>
            <b-dropdown-item>Billing</b-dropdown-item>
            <b-dropdown-item>View profile</b-dropdown-item>
            <b-dropdown-item>Settings</b-dropdown-item>
            <b-dropdown-item @click="logout">Logout</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </template>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav class="ml-auto">
          <b-nav-item to="#">How It Works</b-nav-item>
          <b-nav-item :to="{name: 'home'}">Create Event</b-nav-item>
          <b-nav-item>About Us</b-nav-item>
          <b-nav-item>Register</b-nav-item>
          <b-nav-item>Login</b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav>
          <b-nav-item-dropdown right>
            <b-dropdown-item><router-link :to="{name: 'home'}">Billing</router-link></b-dropdown-item>
            <b-dropdown-item><router-link :to="{name: 'home'}">View profile</router-link></b-dropdown-item>
            <b-dropdown-item><router-link :to="{name: 'home'}">Settings</router-link></b-dropdown-item>
            <b-dropdown-item @click="logout">Logout</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>

/* eslint-disable */
import bModal from 'bootstrap-vue/es/components/modal/modal'
import bBtn from 'bootstrap-vue/es/components/button/button'
import bButtonClose  from 'bootstrap-vue/es/components/button/button-close'
export default {
//	components: {
//	},
//	data () {
//		//
//	},
//  mounted() {
//  },
//	watch:{
//	},
	methods: {
		logout () {
			var logout = localStorage
			logout.clear()
			if (logout.length === 0) {
				this.$router.push({name: 'login'})
			}
		}
	}
}
</script>

<style scoped>
</style>
